@import url("https://fonts.googleapis.com/css2?family=Scoutie+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  font-family: "Scoutie Sans", sans-serif;
  padding: 0;
  margin: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rebeccapurple;
}
.container {
  justify-content: center;
  align-items: center;
  padding: 10em;
}
.date-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
  min-width: 200px;
  max-width: 400px;
}
.date-input input {
  font-weight: 600;
  padding-left: 5px;
}
.date-input button {
  border-style: none;
  padding: 0;
  padding-right: 5px;
  background-color: transparent;
}
.date-input button img {
  transform: translateY(5%);
  cursor: pointer;
}
input[type="text"] {
  background-color: transparent;
  border: none;
}
.date-box {
  padding: 0.25em;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 4px;
}
.month-year {
  padding: 8px;
}
.month-year::before {
  content: "<";
  margin-right: 25px;
  cursor: pointer;
}
.month-year::after {
  content: ">";
  margin-left: 25px;
  cursor: pointer;
}
.day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 8px;
}
.day span {
  display: inline-flex;
  justify-content: center;
}
.numdays {
  gap: 4px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.numdays span {
  padding: 4px;
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
}
.numdays span:nth-child(-n + 3),
.numdays span:nth-last-child(-n + 3) {
  opacity: 0.33;
}
.numdays span:hover:nth-child(n + 4):nth-child(-n + 32) {
  cursor: pointer;
  opacity: 1;
  background-color: lightgray;
}
