* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.testimonial-card1,
.testimonial-card2,
.testimonial-card3,
.testimonial-card4 {
  padding: 0.75em;
}
.testimonial-card2,
.testimonial-card4 {
  border: 2px solid black;
  border-radius: 1.25em;
}
.testimonial-card3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.testimonial-card3 img {
  height: 200px;
  width: 200px;
}
.testimonial-card3 .text-card p {
  margin-top: 0.5em;
}
.testimonial-card4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.tc-message1 {
  background-color: black;
  border-radius: 0.25em;
  color: white;
  inline-size: auto;
}
.tc-message1 p,
.tc-message2 p {
  padding: 1em;
}
.tc-message1::after {
  content: "";
  position: absolute;
  left: 30px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}
.profile-card1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1em;
  padding-inline: 0.25em;
}
.profile-card2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 0.25em;
}
.text-card {
  padding-inline: 0.25em;
}
.slider-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25em;
}
.slider-part button {
  border: none;
  background-color: transparent;
  padding: 6px;
  font-size: 24px;
  font-weight: 800;
}
.slider-part button:hover {
  cursor: pointer;
}
img {
  height: 50px;
  width: 50px;
  background-size: 100px;
  border-radius: 50%;
}
.slider-part img:nth-child(odd) {
  opacity: 0.5;
  scale: 0.85;
}
