@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  justify-content: space-evenly;
  gap: 0.25em;
  grid-template-areas:
    "t1 t2"
    "t3 t3"
    "t4 t4";
  padding: 0.25em;
}

p {
  word-spacing: 5px;
}

.testimonial-card1 {
  grid-area: t1;
}
.testimonial-card2 {
  grid-area: t2;
}
.testimonial-card3 {
  grid-area: t3;
  align-self: center;
  justify-self: center;
}
.testimonial-card4 {
  grid-area: t4;
  align-self: center;
  justify-self: center;
}

.testimonial-card1,
.testimonial-card2,
.testimonial-card3,
.testimonial-card4 {
  max-width: 650px;
  min-width: 300px;
}

.testimonial-card2,
.testimonial-card4 {
  border: 2px solid black;
  border-radius: 1.25em;
}
.testimonial-card3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.testimonial-card3 img {
  height: 200px;
  width: 200px;
  margin-right: 25px;
}
.testimonial-card3 h4 {
  color: gray;
  font-weight: 300;
}
.testimonial-card3 .text-card {
  display: flex;
  gap: 8px;
  flex-direction: column;
  background-color: #1e1e1e;
  color: white;
  padding-block: 30px;
  padding-inline: 15px;
  border-radius: 8px;
}
.testimonial-card3 .text-card::before {
  content: "⭐⭐⭐⭐⭐";
}
.testimonial-card4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em;
}
.tc-message1 {
  background-color: black;
  border-radius: 0.25em;
  color: white;
  inline-size: auto;
}
.tc-message1 p,
.tc-message2 p {
  padding: 1em;
}
.tc-message1::after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  transform: translateX(75%);
}
.profile-card1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1em;
  padding-inline: 0.25em;
}
.profile-card2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 0.75em;
}
.text-card {
  padding-inline: 0.25em;
}
.slider-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25em;
}
.slider-part button {
  border: none;
  background-color: transparent;
  padding: 6px;
  font-size: 24px;
  font-weight: 800;
}
.slider-part button:hover {
  cursor: pointer;
}
img {
  height: 50px;
  width: 50px;
  background-size: 100px;
  border-radius: 50%;
}
.slider-part img:nth-child(odd) {
  opacity: 0.5;
  scale: 0.85;
}
